@import "layout/navbar";
@import "layout/footer";

@font-face {
    font-family: "montserrat";
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}


body {
    background-color: rgb(18, 98, 18);
    font-family: "montserrat";
    font-weight: 500;
    font-size: medium;
}

#contenedor {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    background-color: rgb(18, 98, 18);
}

.bg-dark {

    background-color: rgb(27, 27, 27);
    
    }

    .navbar-brand {
        font-weight: 500;
        letter-spacing: 3px;
        font-size: 50;
    }

    .offcanvas-title {
    color: white;
}

.btn-close .btn-close-white {
    color: black;
}

.offcanvas-header {
    background-color: rgb(27, 27, 27);
}

.offcanvas-body {
    background-color: rgb(236,220,203);
}

#offcanvasDarkNavbar.offcanvas.offcanvas-end.text-bg-dark {

    background-color: rgb(27, 27, 27);

}

.parrafo {
color: rgb(27, 27, 27);
text-align: right;
margin-left: 500px;
margin-right: 100px;

}

#enlace {

text-decoration: none;

}


#headContainer {

    background-color: rgb(27, 27, 27);
    padding-top: 10px;
}

#tituloSeccion {
    font-family: "montserrat";
    color: white;
    font-size: 400%;
    margin-top: 7%;
    text-align: center;
    letter-spacing: 20px;
    display: block;
    margin: 7 auto;

}

#iconoRemera {

    width: 5%;
    height: 5%;
    margin-left: -20px;

}

.parrafoMerch {

    color: white;
    font-size: 150%;
    margin-top: 5%;
    text-align: center;
    letter-spacing: 1px;

}

#aqui {

    color: white;
 
}


#videoMerch {

    margin-top: -5%;
    margin-left: 13%;
}


#legales {

    width: 100%;
    height: 150px;
    background-color: rgb(27, 27, 27);
}


#copyright {

    font-size: small;
    color: white;
    padding-top: 75px;
    margin-left: 30px;

}

#tealabare {

    color: white;
    font-weight: 500;
    font-size: medium;
    text-align: right;
    margin-right: 20px;
    padding-top: -50px;
    letter-spacing: 3px;
    margin-left: 20px;
    margin-top: -30px;

}

@media screen and (max-width: 800px){

    #copyright {
        text-align: center;
    }

    #tealabare {

        color: rgba(255, 255, 255, 0);
    
    }

    #tituloSeccion {
        color: white;
        font-size: 50px;
        margin-top: 20%;
        text-align: center;
        letter-spacing: 20px;
    }
}

@media screen and (max-width: 600px){

    #copyright {

        font-size: 70%;
        color: white;
        text-align: center;
    
    }

    #tealabare {
        color: rgba(255, 255, 255, 0);
    }
}