.bg-dark {
    background-color: rgb(27, 27, 27);
    }
    
    .navbar-brand {
        font-weight: 500;
        letter-spacing: 3px;
        font-size: 50;
    }
    
    .offcanvas-title {
        color: white;
    }
    
    .btn-close .btn-close-white {
        color: black;
    }
    
    .offcanvas-header {
        background-color: rgb(27, 27, 27);
    }
    
    .offcanvas-body {
        background-color: rgb(236,220,203);
    }
    
    #offcanvasDarkNavbar.offcanvas.offcanvas-end.text-bg-dark {
    
        background-color: rgb(27, 27, 27);
    
    }